<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.UPDATE_PACKAGES_WITHOUT_USER_ACTION" />
    <application>
        <receiver android:name=".UpdateInstallReceiver" android:exported="false" />
        <activity android:name=".UpdateApprovalActivity" android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>
</manifest>
